.App {
  text-align: center;
  background-color: rgb(255, 213, 252);
  height: 1000px;

}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


