body{
  /* background-color: #FFE8EB; */
  text-align: center;
  background-image: radial-gradient(#fff3f5 20%, transparent 20%),
      radial-gradient(#ffeef0 20%, transparent 20%);
  background-color: #FFE8EB;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

/* .App-header{
  
  text-align: center;
  padding: 20px;
  font-size: 50px;
} */

img{
  width: 300px;
  border-radius: 5px;
}

button{
  margin-bottom: 100px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
   background-color: #ffb9dd;
  border-width: 0;
  color: white;
  font-size: 20px;
}

/* Image Descriptions on Card Flip  */
.card{
  background-color:  #ff3d2f;
  width: 270px;
  height: 270px;
  border-radius: 5px;
  border-style: solid;
  border-color:#FEC2C9 ;
  border-width: 15px;
  color:white;
}

.details{
  margin-top: 25%;
  margin-bottom: 10%;
}

.description{
  margin-left: 20px;
  margin-right: 20px;
}

/* Site Title */
.header-odd{
  color: #ffc400;
  text-shadow: 3px 3px #ff9100;
  opacity: 0.7;
}

.header-even{
  color: #ff9100;
  text-shadow: 3px 3px #ffc400;
}

h1{
  margin: 0px;
  font-size: 60px;
}

.title-div{
  margin-top: 50px;
  margin-bottom: 20px;
}

h4{
  font-weight: 350;
  font-size: large;
}

/* Image Alignment */

.gallery-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item{
  margin: 30px;
}

.likes-num{
  margin: 20px;
  /* position: absolute; */
}